@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Chevara";
	src: url("/fonts/Chevara Normal.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

html,
body,
* {
	scrollbar-width: none;
}

li,
p,
h1,
h2,
h3,
h4 {
	font-family: "Times New Roman";
	font-weight: 700;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

dialog {
	max-width: 100vw;
	max-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
